.rightGroup {
    float: right;
    align-items: center;
}

.btnDialog {
    float: right;
    align-items: center;
    margin: 12px;
}

.search {
    padding-left: 5px;
    display: flex;
    align-items: center;
}

.grid {
    flex-grow: inherit;
    margin-bottom: 10px;
}

.contentPadding {
    padding: 12px;
}

.form {
    display: flex;
    flex-wrap: wrap;
}

.formControl {
    width: 200px;
    margin: 10px;
}

.input {
    flex: 1;
    margin-left: 3px;
}

.iconButton {
    padding: 10px;
    display: unset !important;
}

.iconButtonHidden {
    display: none !important;
}

.hidden {
    display: none !important;
}

.unSetHidden {
    display: unset !important;
}

.textSearch {
    color: green;
    padding: 10px;
}

.root {
    flex-grow: 1
}

.paper {
    padding: 2px;
    text-align: center;
}

.rootCard {
    margin: 10px;
}

.btnAction {
    margin-left: 5px !important;
}

.divider {
    height: 28px;
    margin: 4px;
}

.gridForm {
    margin-top: 10px !important;
}

.addMore0 {
    display: none;
}

.alert span {
    color: brown;
    font-size: 13px;
}

.gridPadding {
    padding: 10px;
    min-height: calc(100vh - 100px);
}

.labelSelectOption {
    color: rgba(0, 0, 0, 0.54);
    padding: 0;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.00938em;
    top: 0;
    left: 0;
    z-index: 10;
    position: absolute;
    transform: translate(-6px, -10px) scale(0.75);
    background-color: #fff;
}

.conBtn {
    display: flex;
    justify-content: flex-end;
}

.padding {
    padding: 0 12 !important;
}

.labelDetail {
    color: rgba(0, 0, 0, 0.54);
    padding: 0;
    font-size: 0.8rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.00938em;
    margin-bottom: 10px;
}

.padding12 {
    padding: 12px 12px 24px 12px;
}

.height404 {
    color: #000;
    background: #fff;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Fira Sans", Avenir, "Helvetica Neue", "Lucida Grande", sans-serif;
    height: calc(100vh - 80px);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.displayRow {
    display: flex;
    flex-direction: row;
}

.chipCaterogy {
    height: auto !important;
    margin: 2px !important;
}

.chipCaterogy span {
    white-space: normal !important;
}