body {
    background-color: #f8faf8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.panel {
    border: solid 1px #ddd;
    border-radius: 3px;
    background-color: #fff;
    padding: 12px;
    clear: both;
}

.panel-content {}

.MuiTableCell-head {
    font-weight: 700 !important;
    text-transform: uppercase;
}